## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/Weather_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mahebourg,MU,2021-10-24 12:40:58,-20.4081,57.7000,77.29,73,75,13.80,broken clouds
1,1,Mataura,NZ,2021-10-24 12:39:51,-46.1927,168.8643,51.49,93,100,0.25,overcast clouds
2,2,Thompson,CA,2021-10-24 12:40:59,55.7435,-97.8558,28.56,93,90,0.00,light snow
3,3,Te Anau,NZ,2021-10-24 12:40:59,-45.4167,167.7167,49.75,98,60,0.58,broken clouds
4,4,Qaanaaq,GL,2021-10-24 12:41:00,77.4840,-69.3632,-1.10,60,0,8.32,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
# Prompt the customer for the maximum temperature preference. 
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 70

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# for index, row in city_data_df.iterrows():
#    if max_temp >= 60:
#        min_temp = city_data_df["Max Temp"] == 60
#    else:
#        max_temp = city_data_df["Max Temp"] == 90
# min_temp = 60
# max_temp = 65
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                     (city_data_df["Max Temp"] >= min_temp)]

In [5]:
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Vaini,TO,2021-10-24 12:40:28,-21.2000,-175.2000,68.16,88,20,4.61,few clouds
35,35,Saint-Francois,FR,2021-10-24 12:41:09,46.4154,3.9054,66.47,62,0,2.30,clear sky
47,47,Bredasdorp,ZA,2021-10-24 12:40:24,-34.5322,20.0403,69.28,45,4,9.22,clear sky
54,54,East London,ZA,2021-10-24 12:40:59,-33.0153,27.9116,65.34,59,20,12.66,few clouds
57,57,San Cristobal,VE,2021-10-24 12:40:21,7.7669,-72.2250,68.18,70,91,3.44,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
2167,2167,Wadi Musa,JO,2021-10-24 12:46:45,30.3222,35.4793,69.21,33,0,4.09,clear sky
2198,2198,Pervomayskoye,RU,2021-10-24 12:43:43,43.9190,46.7102,65.61,37,100,4.94,overcast clouds
2220,2220,Albox,ES,2021-10-24 12:43:51,37.3886,-2.1495,66.67,55,27,5.99,scattered clouds
2225,2225,Las Vegas,US,2021-10-24 12:45:09,36.1750,-115.1372,65.43,43,1,0.00,clear sky
2233,2233,Along,IN,2021-10-24 12:43:55,28.1667,94.7667,68.13,86,1,1.21,clear sky

In [6]:
import numpy as np
# 4a. Determine if there are any empty rows.
np.where(pd.isnull(preferred_cities_df))

(array([], dtype=int64), array([], dtype=int64))

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
print(clean_df)

      City_ID            City Country                 Date      Lat       Lng  \
7           7           Vaini      TO  2021-10-24 12:40:28 -21.2000 -175.2000
35         35  Saint-Francois      FR  2021-10-24 12:41:09  46.4154    3.9054
47         47      Bredasdorp      ZA  2021-10-24 12:40:24 -34.5322   20.0403
54         54     East London      ZA  2021-10-24 12:40:59 -33.0153   27.9116
57         57   San Cristobal      VE  2021-10-24 12:40:21   7.7669  -72.2250
...       ...             ...     ...                  ...      ...       ...
2167     2167       Wadi Musa      JO  2021-10-24 12:46:45  30.3222   35.4793
2198     2198   Pervomayskoye      RU  2021-10-24 12:43:43  43.9190   46.7102
2220     2220           Albox      ES  2021-10-24 12:43:51  37.3886   -2.1495
2225     2225       Las Vegas      US  2021-10-24 12:45:09  36.1750 -115.1372
2233     2233           Along      IN  2021-10-24 12:43:55  28.1667   94.7667

      Max Temp  Humidity  Cloudiness  Wind Speed Current Description
7        68.16        88          20        4.61          few clouds
35       66.47        62           0        2.30           clear sky
47       69.28        45           4        9.22           clear sky
54       65.34        59          20       12.66          few clouds
57       68.18        70          91        3.44     overcast clouds
...        ...       ...         ...         ...                 ...
2167     69.21        33           0        4.09           clear sky
2198     65.61        37         100        4.94     overcast clouds
2220     66.67        55          27        5.99    scattered clouds
2225     65.43        43           1        0.00           clear sky
2233     68.13        86           1        1.21           clear sky

[137 rows x 11 columns]

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Vaini,TO,68.16,few clouds,-21.2000,-175.2000,
35,Saint-Francois,FR,66.47,clear sky,46.4154,3.9054,
47,Bredasdorp,ZA,69.28,clear sky,-34.5322,20.0403,
54,East London,ZA,65.34,few clouds,-33.0153,27.9116,
57,San Cristobal,VE,68.18,overcast clouds,7.7669,-72.2250,
63,Puerto Ayora,EC,69.57,overcast clouds,-0.7393,-90.3518,
93,Geraldton,AU,66.61,overcast clouds,-28.7667,114.6000,
102,Rincon,US,68.86,fog,32.2960,-81.2354,
169,Forio,IT,69.82,overcast clouds,40.7342,13.8646,
170,Carnarvon,AU,69.87,overcast clouds,-24.8667,113.6333,

In [9]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Vaini,TO,68.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
35,Saint-Francois,FR,66.47,clear sky,46.4154,3.9054,Manoir Du Bonheur
47,Bredasdorp,ZA,69.28,clear sky,-34.5322,20.0403,Bredasdorp Country Manor
54,East London,ZA,65.34,few clouds,-33.0153,27.9116,Tu Casa
57,San Cristobal,VE,68.18,overcast clouds,7.7669,-72.2250,Posada Villaven C.A.
...,...,...,...,...,...,...,...
2167,Wadi Musa,JO,69.21,clear sky,30.3222,35.4793,Petra Palace Hotel
2198,Pervomayskoye,RU,65.61,overcast clouds,43.9190,46.7102,
2220,Albox,ES,66.67,scattered clouds,37.3886,-2.1495,Steve Conroy Los Olivos
2225,Las Vegas,US,65.43,clear sky,36.1750,-115.1372,Plaza Hotel & Casino
2233,Along,IN,68.13,clear sky,28.1667,94.7667,Hotel West

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.replace('', np.NaN).dropna(how='all', inplace = False)
print(clean_hotel_df)

                City Country  Max Temp Current Description      Lat       Lng  \
7              Vaini      TO     68.16          few clouds -21.2000 -175.2000
35    Saint-Francois      FR     66.47           clear sky  46.4154    3.9054
47        Bredasdorp      ZA     69.28           clear sky -34.5322   20.0403
54       East London      ZA     65.34          few clouds -33.0153   27.9116
57     San Cristobal      VE     68.18     overcast clouds   7.7669  -72.2250
...              ...     ...       ...                 ...      ...       ...
2167       Wadi Musa      JO     69.21           clear sky  30.3222   35.4793
2198   Pervomayskoye      RU     65.61     overcast clouds  43.9190   46.7102
2220           Albox      ES     66.67    scattered clouds  37.3886   -2.1495
2225       Las Vegas      US     65.43           clear sky  36.1750 -115.1372
2233           Along      IN     68.13           clear sky  28.1667   94.7667

                    Hotel Name
7          Keleti Beach Resort
35           Manoir Du Bonheur
47    Bredasdorp Country Manor
54                     Tu Casa
57        Posada Villaven C.A.
...                        ...
2167        Petra Palace Hotel
2198                       NaN
2220   Steve Conroy Los Olivos
2225      Plaza Hotel & Casino
2233                Hotel West

[137 rows x 7 columns]

In [12]:
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Vaini,TO,68.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
35,Saint-Francois,FR,66.47,clear sky,46.4154,3.9054,Manoir Du Bonheur
47,Bredasdorp,ZA,69.28,clear sky,-34.5322,20.0403,Bredasdorp Country Manor
54,East London,ZA,65.34,few clouds,-33.0153,27.9116,Tu Casa
57,San Cristobal,VE,68.18,overcast clouds,7.7669,-72.2250,Posada Villaven C.A.
...,...,...,...,...,...,...,...
2141,Sayyan,YE,69.85,clear sky,15.1718,44.3244,متنزه و بحيرة سيان
2167,Wadi Musa,JO,69.21,clear sky,30.3222,35.4793,Petra Palace Hotel
2220,Albox,ES,66.67,scattered clouds,37.3886,-2.1495,Steve Conroy Los Olivos
2225,Las Vegas,US,65.43,clear sky,36.1750,-115.1372,Plaza Hotel & Casino
2233,Along,IN,68.13,clear sky,28.1667,94.7667,Hotel West

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "Clean_hotel.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name: </dt><dd>{Hotel Name}</dd>
<dt>City: </dt><dd>{City}</dd>
<dt>Country: </dt><dd>{Country}</dd>
<dt>Current Description: </dt><dd>{Current Description}</dd>
<dt>Max Temp: </dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
locations

          Lat       Lng
7    -21.2000 -175.2000
35    46.4154    3.9054
47   -34.5322   20.0403
54   -33.0153   27.9116
57     7.7669  -72.2250
...       ...       ...
2141  15.1718   44.3244
2167  30.3222   35.4793
2220  37.3886   -2.1495
2225  36.1750 -115.1372
2233  28.1667   94.7667

[133 rows x 2 columns]

In [20]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info);
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))